#titulo{
    text-align: center;
    font-size: 40px;
}

#formularioMatematico{
    width: 40%;
    margin: auto;
    font-size: 20px;
}
section{
    border: 2px solid black;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    background: tomato;
    color: white;
}

#first div{
    margin-bottom: 20px;
}

#second div{
    margin-bottom: 20px; 
}

#third div{
    margin-bottom: 10px; 
}

#fourth div{
    margin-bottom: 10px; 
}

#fifth div{
    margin-bottom: 10px; 
}